{% extends "base.html" %}

{% block body %}
<div class="row-fluid">
    <!--
    <div class="span12">
        <button class="btn btn-small" type="button">Update</button>
    </div>-->
    <div class="span12">
        <div class="span6">
        <table class="table">  
                <thead>
                  <tr style="background-color: #f89406;">  
                    <th colspan="3" align="center" id="s_ask">Ордера на продажу</th>  
                  </tr> 
                  <tr style="background-color: #d9edf7;">  
                    <th>Price</th>  
                    <th class="numerator">numerator</th>  
                    <th class="denominator">denominator</th> 
                  </tr>  
                </thead>  
                <tbody id='asks'> 
                  </tr>  
                </tbody>
        </table>
        </div>

        <div class="span6">
        <table class="table">  
                <thead>  
                  <tr style="background-color: #f89406;">  
                    <th colspan="3" align="center" id="s_bids">Ордера на покупку</th>  
                  </tr> 
                  <tr style="background-color: #d9edf7;">  
                    <th>Price</th>  
                    <th class="numerator">numerator</th>  
                    <th class="denominator">denominator</th> 
                  </tr>  
                </thead>  
                <tbody id='bids'> 
                </tbody>
        </table>
        </div>
    </div>

</div>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Settings</h3>
  </div>
  <div class="modal-body">

              <input type="text" id="smallestCoin" placeholder="Подсветка по мин значению.">
              </br>
              <input type="text" id="numerator" placeholder="Numerator. example: BTC">
              <input type="text" id="denominator" placeholder="Denominator. example: USD">
              </br>
              <input type="text" id="coll_orders_for_average_price" placeholder="К-во ордеров для средней цены.">


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save changes</button>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {

function average_price(i_max,  obj){
var sum;
var sum_average;
var s;
var k;
var average;
sum=0;
sum_average=0;
s=0;
k=0;
average=0;

    for (i=0; i<i_max; i++){
        sum = sum + obj[i][0];
    }
    sum_average = sum/i_max;
    console.log('sum_average: '+sum_average)
    for (i=0; i<i_max; i++){
        s = s + obj[i][1] / sum_average * obj[i][0];
        k = k + obj[i][1] / sum_average;
    }
    average = s/k;
    return average;
}


    $('#update').click(function()
    {   $('#update').html('Loading...')
        var smallestCoin = $('#smallestCoin').val()
        var numerator = $('#numerator').val()
        var denominator = $('#denominator').val()
        if ($('#numerator').val()==''){
            $('#numerator').val('BTC')
            $('#denominator').val('USD')
        }
        if ($('#coll_orders_for_average_price').val()==''){
            $('#coll_orders_for_average_price').val(20)
        }
        var coll_orders_for_average_price = $('#coll_orders_for_average_price').val()
        $.get("/ask", {'numerator': numerator, 'denominator':denominator, },
            function(data){



                var smallestCoin = $('#smallestCoin').val()
                var numerator = $('#numerator').val()
                var denominator = $('#denominator').val()
                if ($('#numerator').val()==''){
                    $('#numerator').val('BTC')
                    $('#denominator').val('USD')
                }
                if ($('#coll_orders_for_average_price').val()==''){
                    $('#coll_orders_for_average_price').val(20)
                }
                var coll_orders_for_average_price = $('#coll_orders_for_average_price').val()



                var obj = $.parseJSON(data);
                if (obj['result']=='error1'){$('#settings').html('Settings error');}
                
                
                $("#asks").find('tr').remove()
                $("#bids").find('tr').remove()
                $('#update').html('Update')
                $('.numerator').html(obj['numerator'])
                $('.denominator').html(obj['denominator'])
                $('#logo').html("Depth "+obj['numerator']+"/"+obj['denominator'])
                

            average_asks = average_price(coll_orders_for_average_price, obj.asks);
            average_bids = average_price(coll_orders_for_average_price, obj.bids);
            $('#s_ask').html('Ордера на продажу | last '+coll_orders_for_average_price+' average price: '+average_asks.toFixed(5))
            $('#s_bids').html('Ордера на покупку | last '+coll_orders_for_average_price+' average price: '+average_bids.toFixed(5))


                for(i=0;i<obj.asks.length;i++){

                        if (obj.asks[i][1] >= parseFloat(smallestCoin)){
                            $("#asks").append('<tr style="background-color: #f2dede;"><td>'+obj.asks[i][0]+'</td><td><strong>'+obj.asks[i][1]+'</strong></td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }
                        else{
                            $("#asks").append('<tr><td>'+obj.asks[i][0]+'</td><td>'+obj.asks[i][1]+'</td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }

                        if (obj.bids[i][1] >= parseFloat(smallestCoin)){
                            $("#bids").append('<tr style="background-color: #f2dede;"><td>'+obj.bids[i][0]+'</td><td><strong>'+obj.bids[i][1]+'</strong></td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }
                        else{
                            $("#bids").append('<tr><td>'+obj.bids[i][0]+'</td><td>'+obj.bids[i][1]+'</td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }

                }
                $('title').html(obj.bids[0][0])
                $('#update').click();
            });
            
        });
    $('#home').click(function()
    {   $('#update').html('Loading...')
        var smallestCoin = $('#smallestCoin').val()
        var numerator = $('#numerator').val()
        var denominator = $('#denominator').val()
        if ($('#numerator').val()==''){
            $('#numerator').val('BTC')
            $('#denominator').val('USD')
        }
        if ($('#coll_orders_for_average_price').val()==''){
            $('#coll_orders_for_average_price').val(20)
        }
        var coll_orders_for_average_price = $('#coll_orders_for_average_price').val()
        $.get("/ask", {'numerator': numerator, 'denominator':denominator, },
            function(data){



                var smallestCoin = $('#smallestCoin').val()
                var numerator = $('#numerator').val()
                var denominator = $('#denominator').val()
                if ($('#numerator').val()==''){
                    $('#numerator').val('BTC')
                    $('#denominator').val('USD')
                }
                if ($('#coll_orders_for_average_price').val()==''){
                    $('#coll_orders_for_average_price').val(20)
                }
                var coll_orders_for_average_price = $('#coll_orders_for_average_price').val()



                var obj = $.parseJSON(data);
                if (obj['result']=='error1'){$('#settings').html('Settings error');}
                
                
                $("#asks").find('tr').remove()
                $("#bids").find('tr').remove()
                $('#update').html('Update')
                $('.numerator').html(obj['numerator'])
                $('.denominator').html(obj['denominator'])
                $('#logo').html("Depth "+obj['numerator']+"/"+obj['denominator'])
                

            average_asks = average_price(coll_orders_for_average_price, obj.asks);
            average_bids = average_price(coll_orders_for_average_price, obj.bids);
            $('#s_ask').html('Ордера на продажу | last '+coll_orders_for_average_price+' average price: '+average_asks.toFixed(5))
            $('#s_bids').html('Ордера на покупку | last '+coll_orders_for_average_price+' average price: '+average_bids.toFixed(5))


                for(i=0;i<obj.asks.length;i++){

                        if (obj.asks[i][1] >= parseFloat(smallestCoin)){
                            $("#asks").append('<tr style="background-color: #f2dede;"><td>'+obj.asks[i][0]+'</td><td><strong>'+obj.asks[i][1]+'</strong></td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }
                        else{
                            $("#asks").append('<tr><td>'+obj.asks[i][0]+'</td><td>'+obj.asks[i][1]+'</td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }

                        if (obj.bids[i][1] >= parseFloat(smallestCoin)){
                            $("#bids").append('<tr style="background-color: #f2dede;"><td>'+obj.bids[i][0]+'</td><td><strong>'+obj.bids[i][1]+'</strong></td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }
                        else{
                            $("#bids").append('<tr><td>'+obj.bids[i][0]+'</td><td>'+obj.bids[i][1]+'</td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }

                }
            });
            
        });
        
    //console.log('images urls:'+{{bids}});
});
</script>
{% endblock %}
