{% extends "base.html" %}

{% block body %}
<div class="row-fluid">
    <!--
    <div class="span12">
        <button class="btn btn-small" type="button">Update</button>
    </div>-->
    <div class="span12">
        <div class="span6">
        <table class="table">  
                <thead>
                  <tr style="background-color: #f89406;">  
                    <th colspan="3" align="center">Ордера на продажу</th>  
                  </tr> 
                  <tr style="background-color: #d9edf7;">  
                    <th>Price</th>  
                    <th>LTC</th>  
                    <th>USD</th> 
                  </tr>  
                </thead>  
                <tbody id='asks'> 
                  </tr>  
                </tbody>
        </table>
        </div>

        <div class="span6">
        <table class="table">  
                <thead>  
                  <tr style="background-color: #f89406;">  
                    <th colspan="3" align="center">Ордера на покупку</th>  
                  </tr> 
                  <tr style="background-color: #d9edf7;">  
                    <th>Price</th>  
                    <th>LTC</th>  
                    <th>USD</th> 
                  </tr>  
                </thead>  
                <tbody id='bids'> 
                </tbody>
        </table>
        </div>
    </div>

</div>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Settings</h3>
  </div>
  <div class="modal-body">

              <input type="text" id="smallestCoin" placeholder="Filter by min COIN">



  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save changes</button>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {

    $('#update').click(function()
    {   $('#update').html('Loading...')
        var smallestCoin = $('#smallestCoin').val()

    setTimeout(
        function(){

        $.get("/ask", {'ask': '#'},
            function(data){
                //data.asks.length
                var obj = $.parseJSON(data);
                $("#asks").find('tr').remove()
                $("#bids").find('tr').remove()
$('#update').html('Update')
                for(i=0;i<obj.asks.length;i++){

                        if (obj.asks[i][1] >= parseFloat(smallestCoin)){
                            $("#asks").append('<tr style="background-color: #f2dede;"><td>'+obj.asks[i][0]+'</td><td><strong>'+obj.asks[i][1]+'</strong></td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }
                        else{
                            $("#asks").append('<tr><td>'+obj.asks[i][0]+'</td><td>'+obj.asks[i][1]+'</td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }

                        if (obj.bids[i][1] >= parseFloat(smallestCoin)){
                            $("#bids").append('<tr style="background-color: #f2dede;"><td>'+obj.bids[i][0]+'</td><td><strong>'+obj.bids[i][1]+'</strong></td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }
                        else{
                            $("#bids").append('<tr><td>'+obj.bids[i][0]+'</td><td>'+obj.bids[i][1]+'</td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }

                }
                
                $('#update').click();
            });
        },500);







        });

    $('#home').click(function()
    {   $('#update').html('Loading...')
        var smallestCoin = $('#smallestCoin').val()
        $.get("/ask", {'ask': '#'},
            function(data){
                //data.asks.length
                var obj = $.parseJSON(data);
                $("#asks").find('tr').remove()
                $("#bids").find('tr').remove()
$('#update').html('Update')
                for(i=0;i<obj.asks.length;i++){

                        if (obj.asks[i][1] >= parseFloat(smallestCoin)){
                            $("#asks").append('<tr style="background-color: #f2dede;"><td>'+obj.asks[i][0]+'</td><td><strong>'+obj.asks[i][1]+'</strong></td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }
                        else{
                            $("#asks").append('<tr><td>'+obj.asks[i][0]+'</td><td>'+obj.asks[i][1]+'</td><td>'+obj.asks[i][0]*obj.asks[i][1]+'</td></tr>');
                        }

                        if (obj.bids[i][1] >= parseFloat(smallestCoin)){
                            $("#bids").append('<tr style="background-color: #f2dede;"><td>'+obj.bids[i][0]+'</td><td><strong>'+obj.bids[i][1]+'</strong></td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }
                        else{
                            $("#bids").append('<tr><td>'+obj.bids[i][0]+'</td><td>'+obj.bids[i][1]+'</td><td>'+obj.bids[i][0]*obj.bids[i][1]+'</td></tr>');
                        }

                }
                
            });
        });
        
    //console.log('images urls:'+{{bids}});
});
</script>
{% endblock %}
